@media all and (min-width:1440px){
#wrap{
    width : 100%;
    overflow: hidden;
}
header{
    width : 100%;
    background-color: transparent;
    position: relative;
    z-index: 33;
    
}
nav{
    width : 95%;
    height: 100px;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main_menu{
    width : 400px;
    height: 80px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}
#main_menu>li{
    width : 100px;
    height: 80px;
    position: relative;
}
#main_menu>li>a{
    color: rgb(41, 41, 41);
}

#main_menu>li>a:hover{
    background-color: rgb(255, 251, 127);
}

.sub_menu{
    width : 300px;   
    height: 0px; 
    background-color: white;    
    position:relative;
    top: 0;
    left: 0;
    border-radius: 10px;
transform: translate(10px, 35px);
transition-duration: 0.2s;
overflow: hidden;

}

.sub_menu>li{
    width : 100%;
    height:50px;
    line-height: 50px;
    padding: 14px;
    position: relative;

}


.sub_menu>li>a:hover{
    text-decoration: none;
    border-bottom: rgb(88, 88, 216) solid;
}


 #main1:hover #sub1{
  height: auto;
  transform: translate(0px, 0px);
  transition-duration: 0.2s;
box-shadow: 10px 10px #ffc82a;
  box-sizing: border-box;
}  

#main2:hover #sub2{
    height: auto;
    transform: translate(0px, 0px);
    transition-duration: 0.2s;
  box-shadow: 10px 10px #ffc82a;
    box-sizing: border-box;
  }  


  #main3:hover #sub3{
    height: auto;
    transform: translate(0px, 0px);
    transition-duration: 0.2s;
    box-shadow: 10px 10px #ffc82a;
    box-sizing: border-box;
  }  

  #main4:hover #sub4{
    height: auto;
    transform: translate(0px, 0px);
    transition-duration: 0.2s;
    box-shadow: 10px 10px #ffc82a;
    box-sizing: border-box;
  }  

#logo_img{
    width : 160px;
    margin-left: -150px;
    cursor: pointer;
    transition-duration: 1s;
}

#logo_img>img{
    width: 160px;
    height: 70px;
    transition-duration: 1s;
}

#right_menu{
   display: flex;
   justify-content: space-between;
}

#right_menu>li>a{
    color: #636363;
    font-size: 12px;
}
#right_menu>li:nth-child(1){
    margin-right: 30px;
}

#right_menu>li:nth-child(2){
    margin-right: 30px;
}

#search_box{
    width : 200px;
    height: 30px;
    background-color: #ffc82a;
    position: relative;
    margin-top: 10px;
    border-radius: 25px;
}

#search_box>input{
    width : 185px;
    height: 25px;
    outline: none;
    border: 0px;
    margin-left: 3px; 
    border-radius: 25px;   
}
#search_box>button{
    width : 26px;
    height: 26px;
    position: absolute;
    right: 8px;
    top: 1px;
    outline: none;
    border: 0px;
    background-color:#ffc82a;
}

#search_box>button>img{
    width: 75%;
    height: auto;
    margin-top: 3px;
}

#search_box>button>img:hover{
    cursor: pointer;
}

#menu_tap_box{
    display: none;
}

.menubar{
    display: none;
}

.align_wrap1{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#sec1{
    width: 100%;
    overflow: hidden;
    position: relative;
}

#sec1_in{
    display: none;
}

#sec1_in_in{
    display: none;
}

#sec1>img{
    width: 100%;
    height: auto;
}

.align_wrap2{
    width: 85%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
}

#sec2{
    width: 1212px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#in_sec0>h1{
    width: 500px;
    margin-top: 170px;
    margin-bottom: 50px;
    font-size: 35px;
    font-family: 'Gugi', cursive;
    text-align: center;
}
   

#in_sec0{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#in_sec0_img{
    width: 40px;
    height: 40px;
    margin-right: -5px;
}

.future_box{
    width: 32%;
    padding: 20px;
    box-sizing: border-box;
    border: 5px dashed #ffc82a;
    border-radius: 30px;
    position: relative;
    margin-right: 30px;
    overflow: hidden;
}

.future_box>img{
    width : 100%;
    height: auto;
}

.future_box>p{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}

.future_box>span{
    color: #e9546f;
    display: block;
    margin-bottom:60px;
}

.future_box>a{
    position: absolsec3ute;
    bottom: 0;
    left: 0;
    padding: 20px;
    font-size: 13px;
    color: #6fb6f4;
}

.future_box>img:hover{
    transition: all 0.2s linear;
    transform: scale(1.2);
    cursor: pointer;
}

.align_wrap3{
    width: 1400px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 150px;
}

#align_wrap3_img{
    width: 70px;
    height: 70px;
}

.align_wrap3>h1{
    text-align: center;
    font-family: 'Gugi', cursive;
    font-size: 35px;
    margin-bottom: 30px;
}

#sec3{
    width: 1400px;
    overflow: hidden;
    margin-top:150px;
}

#in_sec3>h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
    font-family: 'Gugi', cursive;
}

#in_sec3{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#in_sec3_img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.future_box1{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #e9546f;
    position: relative;
    margin-right: 30px;
    overflow: hidden;
}

.future_box1>img:hover{
    transition: all 0.2s linear;
    transform: scale(1.2);
    cursor: pointer;
}

.future_box1>img{
    width : 100%;
    padding: 15px;
    height: auto;
    box-sizing: border-box;
}

.future_box1>p{
    margin-top: 10px;
    margin-bottom: 100px;
    font-size: 17px;
}

.future_inbox>a{
    display: block;
    padding: 10px;
    font-size: 13px;
    margin-top: 80px;
    color: #feffff;

}
.future_inbox{
width : 100%;
background-color: #e9546f;
position: relative;
}

.future_inbox>h2{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-size: 13px;
    color: #feffff;
}

.future_inbox>p{
    padding-left: 10px;
    color: #feffff;
}

#sec4{
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    position: relative;
}
    
#sec4_img1{
    width : 250px;
    height: 280px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#sec4_img2{
    width : 250px;
    height: 280px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#sec4_img3{
    width : 200px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0px;
}

#sec4_img4{
    width : 200px;
    height: 120px;
    position: absolute;
    right: 0;
    top: 0px;
}

#sec4_img5{
    width : 85px;
    height: 50px;
    position: absolute;
    left: 90px;
    top: 800px;
}

#sec4_img6{
    width : 85px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 300px;
}

#sec4_img7{
    width : 30px;
    height: 30px;
    position: absolute;
    left: 140px;
    top: 530px;
}

#sec4_img8{
    width : 30px;
    height: 30px;
    position: absolute;
    right: 80px;
    top: 300px;
}

#sec4_img9{
    width : 85px;
    height: 50px;
    position: absolute;
    right: 120px;
    top: 550px;
}

#sec4_img10{
    width : 85px;
    height: 50px;
    position: absolute;
    right: 40px;
    top: 800px;
}

#sec4_img1>img{
    width : 100%;
    height: 100%;
}
#sec4>h1{
    text-align: center;
    padding: 50px 0;
    font-size: 35px;
    font-family: 'Gugi', cursive;
}

#in_sec4{
    width: 1212px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.story{
    width : 500px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin-bottom: 2%;
    margin-bottom: 50px;
    text-align: center;
    background-image: url(../img/wave.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.story>img{
    width : 70%;
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index:-1;
    cursor: pointer;
}

.story:hover img{
    transition: all 0.2s linear;
    transform: scale(1.2);
}

.future_inboxs{
    width :500px;
    height: auto;
    margin: 0 auto;
    display: block;
    background-color: #ffc82a;
}

.story>span{
    display: block;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 22px;
    color: #feffff;
}

.story>a{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 10px;
    padding: 10px;
    font-size: 13px;
    color: #feffff;
}



footer{
    width: 100%;
    overflow: hidden;
    background-color: #ffc82a;
}

#top_footer{
    width: 100%;
    overflow: hidden;
    background-color: #ffc82a;
   margin-bottom: -80px;
   margin-top: -50px;
}

#left_footer{
    width: 70%;
    float: left;
    padding: 50px 0;
    font-size: 15px;
}

#right_footer{
    width: 30%;
    float: left;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

#bot_footer{
    width: 100%;
    overflow: hidden;
}

#bot_footer>.align_wrap2{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer_manu{
    display: flex;
    justify-content: space-between;
}

#footer_manu>li{
    margin-top: 20px;
}

#sec4_img3{
    animation: clouds-1 2s alternate infinite;
}
@keyframes clouds-1 {
    from{
       left : 100px;
    }
    to{
        left: 0;
    }
}

#sec4_img4{
    animation: clouds-2 2s alternate infinite;
}
@keyframes clouds-2 {
    from{
       right : 100px;
    }
    to{
        right: 0;
    }
}

#sec4_img5,#sec4_img6,#sec4_img8,#sec4_img10{
    animation: motion 1s linear 0s infinite alternate; margin-top: 0;
}     
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 20px;}
}

} /* media query */





